*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    background-color: black;

}

.navbar-brand img{
    border-radius: 50%;

}
.navbar{
    font-size: 120%;
}
body{
    background-image: url(./app/image/pexels.jpeg);

}
ul{
    border:{
        top: 3px solid black;
        bottom: 3px solid black;
    }
   
}
li{
    margin: {
        right: 30px;
        left: 30px;
    }
}
header{
    background-image: url(./app/image/pexels.jpeg);
    font-family: 'Open Sans', sans-serif;
}
