header{
    background-color: black;

}

.navbar-brand img{
    border-radius: 50%;

}
.navbar{
    font-size: 120%;
}
header, body{
    background-image: url(./app/image/pexels.jpeg);

}
ul{
    border:{
        top: 3px solid black;
        bottom: 3px solid black;
    }
   
}
li{
    margin: {
        right: 30px;
        left: 30px;
    }
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    min-width: 400px; }
  
.container-carte {
    margin: 20px; 
}
  
.container-carte a {
    display: inline-block; }
  
.container-carte:hover figure {
    -webkit-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY 180deg;
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    width: 300px; }
  
figure {
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg); 

}
figure .frontal,
figure .rear {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s; 
}
  
figure .frontal {
    display: block; }
  
figure .rear {
    position: absolute;
    top: 0;
    padding: 20px;
    color: white;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
}
#container-madre{
    width: 30%;
    float:left;
    margin-left: 0px;
}
#container-uno{
    width: 30%;
    float: left;
}
#container-dos{
    width: 30%;
    float: right;
}
.titulo{
    text-align: center;
    font-size: 20px;
    margin: 100px;

}
